body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #f4f7fa;
  color: #333;
  line-height: 1.6;
}

header {
  text-align: center;
  margin-bottom: 40px;
}
.download-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0d6efd;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}
.download-btn:hover{
    background-color: #0b5ed7;
}
h1 {
  color: #0073e6;
  margin-bottom: 5px;
}

h2 {
  border-bottom: 2px solid #0073e6;
  padding-bottom: 5px;
  margin-top: 40px;
}

section {
  margin-bottom: 30px;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.05);
}

ul {
  list-style-type: square;
  margin-left: 20px;
}

a {
  color: #0073e6;
  text-decoration: none;
}
